<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <div th:insert="~{frags/misc :: bootstrap}"></div>
  </head>
  <body>
    <div
      class="d-flex flex-column justify-content-center align-content-center align-items-center"
    >
      <p class="h2" style="padding: 5%">Bem vindo! meu amigo hospedeiro</p>
      <form method="post" action="/hospedeiro/login"
        class="border shadow"
        style="padding-left: 5%; padding-right: 5%; padding-top: 5%"
      >
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" name="vulgo" id="form2Example1" class="form-control" />
          <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" name="senha" id="form2Example2" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form2Example31"
                checked
              />
              <label class="form-check-label" for="form2Example31">
                Lost your password?
              </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">azar o seu</a>
          </div>
        </div>

        <!-- Submit button -->
        <button
          
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-primary btn-block mb-4"
        >
          Sign in
        </button>

        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="#!" data-bs-toggle="modal" data-bs-target="#modalcadastro">Register</a></p>
          <p>or sign up with:</p>
          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-link btn-floating mx-1"
          >
            <i class="fab fa-facebook-f"></i>
          </button>

          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-link btn-floating mx-1"
          >
            <i class="fab fa-google"></i>
          </button>

          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-link btn-floating mx-1"
          >
            <i class="fab fa-twitter"></i>
          </button>

          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="btn btn-link btn-floating mx-1"
          >
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
      <small th:text="${msg}"></small>
    </div>

    <div class="modal fade" id="modalcadastro" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <!--<div
              th:if="${servico.codigo == 0}"
              th:insert="~{frags/forms :: servico('new')}"
            ></div>
            <div
              th:unless="${servico.codigo == 0}"
              th:insert="~{frags/forms :: servico('update')}"
            ></div>-->
            <div
              th:insert="~{frags/forms :: generic(${@formHandler},'Post','/hospedeiro/save',${hospedeiro})}"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
